<h1>All Products</h1>


    <section id="search">

        <form action="/products" method="GET">
        
            <input type="text" name="word" placeholder="product">
        

            <input type="text" name="maxPrice" placeholder="maximum price">

            <label> 
                List:
                <select name="list" multiple>

                {{#each result}}
                    <option value="{{this.list._id}}">{{this.list.name}}</option>
                {{/each}}
                    
                </select>
            </label>

            {{!-- 
            {{#each lists}}
                <label><input type="checkbox" name="{{this.name}}" value="{{this._id}}"><span>{{this.name}}</span></label>
            {{/each}} --}}

            <button type="submit" >Submit</button>

        </form>


    </section>

<p>__________________________</p>


<section id="allProducts">

{{#each result}}
<div class="product">
    <img src="{{this.image}}"/>

    <div class="productHeader">
        <p>{{this.name}}</p>
        <p class="price">Price: {{this.price}} €</p>
    </div>

    <p class="notes">Notes:<br>{{this.notes}}</p>

    <button><a href="{{this.link}}">Product Page</a></button>
    <br>
    <button><a href="/products/{{this._id}}/edit">Edit</a></button>

    <form action="/products/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>

</div>
{{/each}}

</section>