    <section id="searchAndFilter">

        <form action="/products" method="GET">

            <input id="search" type="text" name="word" placeholder="What are you looking for?"  value="{{data.filter.name.$regex}}">
            <input id="maxPrice" type="text" name="maxPrice" placeholder="Max. price" value="{{data.filter.price.$lte}}">

            <button id="findButton" type="submit" name="list" value="{{data.filter.list}}"> Find </button>

            <br>

            <div class="list-button">

                {{#if data.filter.list}}
                    <button type="submit" name="list" value="null">Show All</button>
                {{else}}
                    <button type="submit" class="active" name="list" value="null">Show All</button>
                {{/if}}

            
                {{#each data.lists}}
                    
                    {{#if (eq this._id ../data.filter.list) }}
                        <button class="active" type="submit" name="list" value="{{this._id}}">{{this.name}}</button>
                    {{else}}
                        <button name="list" type="submit" value="{{this._id}}">{{this.name}}</button>
                    {{/if}}
                {{/each}}
            </div>

        </form>
    </section>


{{!--     <div id="overlayModal" class="modal">
        <p>This is an overlay!</p>
    </div>

    <button onclick="openOverlay()">Open Overlay</button>
    <button onclick="closeOverlay()">Close Overlay</button>

    <script>
            function openOverlay() {
                var overlay = document.getElementById("overlayModal");
                overlay.style.display = "block"
            }

            function closeOverlay() {
                var overlay = document.getElementById("overlayModal");
                overlay.style.display = "none";
            }
    </script> --}}


<section id="allProducts">

{{#each data.products}}
<div class="product">

    {{#if image}}
    <img src="{{this.image}}"/>
    {{else}}
    <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg"/>
    {{/if}}



    <div class="productHeader">
        <p class="productName">{{this.name}}</p>
        <p class="productPrice">{{this.price}} €</p>
        <button id="linkButton"><a href="{{this.link}}" target="_blank">Product Page</a></button>
    </div>

    {{#if notes}}
    <p class="notes">Notes:<br>{{this.notes}}</p>
    {{/if}}

    <div class="editButtons">
        <button id="editButton"><a href="/products/{{this._id}}/edit">Edit</a></button>
        <form action="/products/{{this._id}}/delete" method="POST">
            <button class="editButton">Delete</button>
        </form>
    </div>

</div>
{{/each}}

<div class="product">
     <a href="/products/create">Create new Product with link</a>
</div>

<div class="product">
     <a href="/products/create-manually">Create new Product manually</a>
</div>

</section>