    <section id="searchAndFilter">

        <form action="/products" method="GET">

            <input id="search" type="text" name="word" placeholder="What are you looking for?"  value="{{data.filter.name.$regex}}">
            <input id="maxPrice" type="number" name="maxPrice" placeholder="Max. price" value="{{data.filter.price.$lte}}">

            <button id="findButton" type="submit" name="list" value="{{data.filter.list}}"> Find </button>

            <br>

            <div class="lists">

                <div class="list-tags">

                    {{#if data.filter.list}}
                        <button type="submit" name="list" value="null">Show All</button>
                    {{else}}
                        <button type="submit" class="active" name="list" value="null">Show All</button>
                    {{/if}}

                
                    {{#each data.lists}}
                        
                        {{#if (eq this._id ../data.filter.list) }}
                            <button class="active" type="submit" name="list" value="{{this._id}}">{{this.name}}</button>
                        {{else}}
                            <button name="list" type="submit" value="{{this._id}}">{{this.name}}</button>
                        {{/if}}
                    {{/each}}

                </div>

                <a class="manage-lists-link" href="/lists/listview">Manage Lists</a>

            </div>

            

        </form>
    </section>



{{#if data.showCreateModal}}
    <div id="overlay">
        {{> productcreate}}
    </div>
{{/if}}

{{#if data.showEditModal}}
    <div id="overlay">
        {{> productedit}}
    </div>
{{/if}}

{{#if data.showListviewModal}}
    <div id="overlay">
        {{> listview}}
    </div>
{{/if}}

{{#if data.showListEditModal}}
    <div id="overlay">
        {{> listview}}
    </div>
{{/if}}







<section id="allProducts">

<div class="product" id="addProductCard">
     <a href="/products/create">Add Product</a>
</div>

{{#each data.products}}
<div class="product">

    {{#if image}}
    <img src="{{this.image}}"/>
    {{else}}
    <img src="https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg"/>
    {{/if}}



    <div class="productHeader">
        <p class="productName">{{this.name}}</p>
        <p class="productPrice">{{this.price}} €</p>
        <button id="linkButton"><a href="{{this.link}}" target="_blank">Product Page</a></button>
    </div>

    {{#if notes}}
    <p class="notes">Notes:<br>{{this.notes}}</p>
    {{/if}}

    <div class="editButtons">
        <button id="editButton">
            <a href="/products/{{this._id}}/edit">
                <img src="/images/002-edit.png" alt="">
            </a>
        </button>

        <form action="/products/{{this._id}}/delete" method="POST">
            <button class="editButton">
                <img src="/images/003-delete.png" alt="">
            </button>
        </form>
    </div>

</div>
{{/each}}

</section>