<h1>Edit Product </h1>

<form action="/products/{{data.product._id}}/edit" method="POST">
    <label>
        Name:
        <input type="text" name="name" value="{{product.name}}" required>
    </label>

    <label>
        Price:
        <input type="Number" name="price" value="{{product.price}}" step=".01">
    </label>

    <label>
        Notes:
        <input type="text" name="notes" value="{{product.notes}}">
    </label>

    <label>
        Link to image:
        <input type="rul" name="image" value="{{product.image}}">
    </label>

    <label>
        Link to Product:
        <input type="url" name="link" value="{{product.link}}">
    </label>
    
    <label> 
        Add to List:
        <select name="list" multiple>
            {{#each lists}}
            
                {{#if (eq2 this._id ../product.list) }}
                    <option value="{{this._id}}" selected >{{this.name}}</option>
                {{else}}
                    <option value="{{this._id}}" >{{this.name}}</option>
                {{/if}}
            {{/each}}
        </select>
    </label>

    <button type="submit">Save Changes</button>
</form>