<h1>All Products</h1>


    <section id="search">

        <form action="/products" method="GET">
        
            <label>
               
                <input type="text" name="word">
            </label>
        
            <label>
                Maximum Price:
                <input type="text" name="maxPrice">
            </label>

            <label> 
                Select List:
                <select name="list" multiple>

                {{#each result}}
                    <option value="{{this.list._id}}">{{this.list.name}}</option>
                {{/each}}
                    
                </select>
            </label>

            {{!-- 
            {{#each lists}}
                <label><input type="checkbox" name="{{this.name}}" value="{{this._id}}"><span>{{this.name}}</span></label>
            {{/each}} --}}

            <button type="submit" >Submit</button>

        </form>


    </section>

<p>__________________________</p>

{{#each result}}
<div class="product">
    <p>{{this.name}}</p>
    <p>{{this.price}}</p>
    <p>{{this.notes}}</p>

    <a href="{{this.link}}">Link</a>
    <img src="{{this.image}}"/>


            <a href="/products/{{this._id}}/edit">Edit</a>

        <form action="/products/{{this._id}}/delete" method="POST">
            <button>Delete</button>
        </form>
</div>
{{/each}}